* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid #000;
  }
  header nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  header nav ul li {
    padding: 0 20px;
  }
  header nav ul li:last-child {
    padding: 0;
  }



  main {
    padding: 40px 10%;
    width: calc( 100% - 300px);
  }
  main .art_principal article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
  main .art_principal article img {
    margin-right: 20px;
    width: 300px;
    height: 200px;
  }
  main .art_principal article:nth-child(2n) img {
    margin-right: 0;
    margin-left: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }


 main .art_related {
    display:grid;
    grid-template-columns:  1fr 2fr 1fr;
    grid-gap: 20px;
  }

main .art_related article {
    border: 1px solid tomato;
}

main .art_related article img{
    width: 100%;
    height: 100px;
}


@media screen and (max-width: 600px ){
    aside{
       width: 100%;
    }
    main{
        width: 100%;
    }

    main .art_related{
        grid-template-columns: 1fr 1fr;
    }

    main .art_related .big_article{
        grid-column-end: span 2;
    }
}